p, ul, li{
  font-size: 24px;
  color: #000000;
  text-align: center;
}

li{
  display: inline-block;
}
h2{
  font-size: 36px;
  color: #000000;
  text-align: center;
}

h3{
  font-size: 48px;
  font-weight: bolder;
  color: #E55982;
  text-align: center;
}

.popup {
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}
.popup.open {
  max-height: 1000px; /* Adjust this value to suit your needs */
}          
.popup.active {
  max-height: 100vh;
}

button {
  border-radius: 4px;
  background-color: rgba(0, 0, 1, 0.8);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 18px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button:hover{
  background-color: green;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\25bc';
  position: absolute;
  opacity: 0;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  transition: 0.5s;
}

button:hover span {
  padding-bottom: 25px;
}

button:hover span:after {
  opacity: 1;
  top: calc(100% - 10px);
}














