<app-navbar></app-navbar>
<div style="padding-top: 30px; text-align: center; align-content: center;">
    <div class="row">
        <div class="col-md-4">
            <div class="card placecenter" >
                <div class="card-body">
                    <div class="card-text">
                        <div>
                          <h5 style="color: yellow; "><b>Set  &emsp; The </b> &emsp; <b class="animated flash infinite" style="font-family: 'Brush Script MT'; color: yellow; font-size: 50px;">Fashion</b></h5>
                        </div>
                        <div>
                          <h5 style="color: #00FF7F; "><b>Be  &emsp; The </b> &emsp; <b class="animated flash infinite" style="font-family: 'Brush Script MT'; color: #00FF7F; font-size: 50px;">Brand</b></h5>
                        </div>
                        <div>
                          <h5 style="color: hotpink; "><b>Show  &emsp; The </b> &emsp; <b class="animated flash infinite" style="font-family: 'Brush Script MT'; color: hotpink; font-size: 50px;">Style</b></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-text">
                        <br>
              <h4 style="color: #00FF7F; font-weight: bold;">Welcome to Beyond Price Website</h4>
              <br>
              <h5 style="color: #ffffff; padding-left: 10px; padding-right: 10px;">A place for <b style="color: yellow;font-size: larger;">Fashion</b>, <b style="color: #00FF7F; font-size: larger;">Brand</b> and <b style="color:hotpink;font-size: larger;">Style</b>
              <br><br>
              Compare the prices in one click and get your products for the lowest price. 
              <br><br>
              <b style="color:ghostwhite;">What are you waiting for! <br>Click Sign In</b>
              <br><br>
              <button (click)="gotoLogin()" type="button" class="btn btn-primary" style="background-color: 00FF7F; color: black;  font-family: 'Century Gothic'; font-weight: bold; align-content: center;" >Sign In</button>
              <br><br>
              <b style="color:ghostwhite;">New to Beyond Price? <br> Then Sign up!</b>
              <br><br>
              <button (click)="gotoSignup()" type="button" class="btn btn-primary" style="background-color: 00FF7F; color: black;  font-family: 'Century Gothic'; font-weight: bold; align-content: center;" >Sign Up</button>
              <br><br>
            </h5>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-text">
                        <div class="animated bounce infinite">
                            <img src="{{bigDealURL}}" alt="" style="width: 300px;height:300px;" />
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

