
.col{
  width: 100%;
  justify-content: center;
  align-items: center;
}
.placecenter{
  width: 100%;
  justify-content: center;
  align-items: center;
}


.card{
  background-color: rgba(0, 0, 1, 0.8);
}


mdb-form-control{
  background-color: #A9A9A9;
}

form {
  display: flex;
  flex-direction: column;
  font-family: 'Century Gothic';
}

.col-md-6{
 padding-top: 200px;
}

h4{
  color: #00FF7F;
  text-align: center;
}

label{
  color: rgba(4, 214, 4, 0.685);
}


button{
  background-color: rgba(4, 214, 4, 0.685);
}

.password-input {
  position: relative;
}

// .password-input .show-hide-button {
//   position: absolute;
//   right: 0;
//   top: 0;
//   height: 100%;
//   background-color: #ffffff;
//   border: none;
//   padding: 0 10px;
//   cursor: pointer;
// }

// .password-input .show-hide-button i {
//   color: #000000;
// }

.show-password-icon {
  background-color: #fff;
  border: none;
  border-left: none;
  cursor: pointer;
  height: calc(1.5em + .55rem + 2px);
}

// .show-password-icon i {
//   color: #000;
// }

.show-password-icon i {
  color: #000;
  margin-right: 5px;
}


