
.col{
  width: 100%;
  justify-content: center;
  align-items: center;
}
.placecenter{
  width: 100%;
  justify-content: center;
  align-items: center;
}


.card{
  background-color: rgba(0, 0, 1, 0.8);
}


mdb-form-control{
  background-color: #A9A9A9;
}

form {
  display: flex;
  flex-direction: column;
  font-family: 'Century Gothic';
}

.col-md-6{
 padding-top: 200px;
}

h4{
  color: #00FF7F;
  text-align: center;
}

label{
  color: rgba(4, 214, 4, 0.685);
}


button{
  background-color: rgba(4, 214, 4, 0.685);
}
