<app-navbar></app-navbar>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Login</h4>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" formControlName="email" 
                     [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched), 'is-valid': email.valid && email.dirty}">
              <div class="invalid-feedback" *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors.required">Email address is required.</div>
                <div *ngIf="email.errors.email">Please provide a valid email.</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password" 
                     [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched), 'is-valid': password.valid && password.dirty}">
              <div class="invalid-feedback" *ngIf="password.invalid && (password.dirty || password.touched)">
                Password is required.
              </div>
            </div>                 
            <button type="submit" class="btn btn-primary">Login</button>
            <div class="alert alert-danger mt-3" *ngIf="showErrorMessage">
              Please fill in all required fields.
            </div>
          </form>                              
        </div>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
