// Beyond Price Login
p{
    font-size: 36px;
  margin-bottom: 30px;
  color: #00FF7F;
}



// Styling for the input textboxes
input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 2px solid #333333;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    background-color: transparent;
    transition: border-bottom-color 0.3s;
    color: #333;
  }

  input[type="text"]:focus, input[type="password"]:focus {
    outline: none;
    border-bottom-color: #00FF7F;
  }


  input[type="password"]:focus ~ input[type="text"], input[type="text"]:focus ~ input[type="password"] {
    border-bottom-color: #333333;
  }
    

// Styles for the button
button[type="submit"] {
    background-color: #00FF7F;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: #09b35e;
  }
  

  .container {
    width: 750px;
    height: 270px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
  }