<app-navbar></app-navbar>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Login</h4>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <div class="input-group">
              <input type="email" class="form-control" id="email" formControlName="email" required>
              <div class="input-group-append">
                <span class="input-group-text show-hide-button" style="background-color: white; outline-color: #ffffff;" >
                  <i class="fa fa-envelope" style="z-index: 3; color: #000000; outline-color: #ffffff;" ></i>
                  <!-- <i class="fa fa-eye-slash" style="z-index: 3;"  *ngIf="!showPassword"></i> -->
                </span>
              </div>
            </div>
            </div>
            <div class="mb-3 password-input">
              
              <label for="password" class="form-label">Password</label>
              <div class="input-group">
              <input type="{{showPassword ? 'text' : 'password'}}"  class="form-control" id="password" name="password" [(ngModel)]="password">
                <div class="input-group-append">
                  <span class="input-group-text show-hide-button"   (click)="showPassword = !showPassword">
                    <i class="fa fa-eye" style="z-index: 3;"  *ngIf="showPassword"></i>
                    <i class="fa fa-eye-slash" style="z-index: 3;"  *ngIf="!showPassword"></i>
                  </span>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

<style>
  .password-input {
    position: relative;
  }

  .password-input .show-hide-button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: #ffffff;
    border: none;
    padding: 0 10px;
    cursor: pointer;
  }

  .password-input .show-hide-button i {
    color: #000000;
  }
</style>
