<nav class="navbar navbar-expand-md navbar-dark fixed-top " style=" background-color: rgba(0, 0, 1, 0.8)">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img src="{{logoURL}}" height="50" width="100" ></a>
       <!-- Toggle button -->
    <button
    class="navbar-toggler"
    type="button"
    (click)="rightAligned.toggle()"
    aria-controls="navbarRightAlignExample"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <i class="fas fa-bars"></i>
  </button>

  <!-- Collapsible wrapper -->
  <div
    class="collapse navbar-collapse"
    id="navbarRightAlignExample"
    mdbCollapse
    #rightAligned="mdbCollapse"
  >
    <!-- Left links -->
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <button class="nav-link active" aria-current="page" (click)="gotoHome()" style="color: #00FF7F; font-weight: bold; background: none; border: none; margin: 0; cursor: pointer;">Home</button>
      </li>
      <li class="nav-item">
        <button class="nav-link active" aria-current="page" (click)="gotoAbout()" style="color: #00FF7F; font-weight: bold; background: none; border: none; margin: 0; cursor: pointer;">About</button>
      </li>
      <li class="nav-item">
        <button class="nav-link active" aria-current="page" (click)="gotoLogin()" style="color: #00FF7F; font-weight: bold; background: none; border: none; margin: 0; cursor: pointer;">Login</button>
      </li>
    </ul>
    <!-- Left links -->
  </div>
  <!-- Collapsible wrapper --> 
    </div>
  </nav>

