
.placecenter{
    justify-content: center;
    align-items: center;
}


.card{
    background-color: rgba(0, 0, 1, 0.8);
}

.button{
    background-color: rgba(4, 214, 4, 0.685);
    align-items: right;
  }
  