<app-navbar></app-navbar>
<div class="pd">
    <div class="row placecenter">
        <div class="col-md-4">
            <div class="card" >
                <div class="card-body">
                    <div class="card-text">
                        <form [formGroup]="validationForm" (ngSubmit)="onSubmit()">
                            <div class="col placecenter">
                                <h4 style="color: #00FF7F; font-weight: bold;">Registration</h4>
                                <br>
                                        <mdb-form-control>
                                            <input
                                                mdbValidate
                                                mdbInput
                                                type="text"
                                                id="firstName"
                                                class="form-control"
                                                formControlName="firstName"
                                                placeholder="First Name"
                                                required>
                                  
                                  <mdb-error
                                    *ngIf="
                                    firstName?.invalid && (firstName?.dirty || firstName?.touched)
                                    "
                                    >First name is required</mdb-error
                                  >
                                  <mdb-success
                                    *ngIf="
                                    firstName?.valid && (firstName?.dirty || firstName?.touched)
                                    "
                                    >Looks good!</mdb-success
                                  >
                                </mdb-form-control>
                                <br>
                                <mdb-form-control>
                                  <input
                                    mdbValidate
                                    mdbInput
                                    type="text"
                                    id="lastName"
                                    class="form-control"
                                    formControlName="lastName"
                                    placeholder="Last Name"
                                    required
                                  />
                                  
                                  <mdb-error *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)"
                                    >Last name is required</mdb-error
                                  >
                                  <mdb-success *ngIf="lastName?.valid && (lastName?.dirty || lastName?.touched)"
                                    >Looks good!</mdb-success
                                  >
                                </mdb-form-control>
                                <br>
                                <mdb-form-control>
                                  <input
                                    mdbValidate mdbInput type="email" id="email" class="form-control" formControlName="email" required placeholder="Email"
                                  />
                                  
                                  <mdb-error *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                                    >Email is required</mdb-error
                                  >
                                  <mdb-success *ngIf="email?.valid && (email?.dirty || email?.touched)"
                                    >Looks good!</mdb-success
                                  >
                                </mdb-form-control>
                              <br>
                                <mdb-form-control>
                                  <input  mdbValidate mdbInput type="tel" id="phone" class="form-control" formControlName="phone" required placeholder="Phone"/>
                                  
                                  <mdb-error *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)"
                                    >Phone Number is required</mdb-error
                                  >
                                  <mdb-success *ngIf="phone?.valid && (phone?.dirty || phone?.touched)"
                                    >Looks good!</mdb-success
                                  >
                              </mdb-form-control>
                              <br>
                                <mdb-form-control>
                                    <input  mdbValidate mdbInput type="password" id="userPassword" class="form-control" formControlName="userPassword"  required placeholder="Password"/>
                                   
                                    <mdb-error *ngIf="userPassword?.invalid && (userPassword?.dirty || userPassword?.touched)"
                                    >Password is required</mdb-error
                                  >
                                  <mdb-success *ngIf="userPassword?.valid && (userPassword?.dirty || userPassword?.touched)"
                                    >Looks good!</mdb-success
                                  >
                                </mdb-form-control>
                                <br>
                                <mdb-form-control>
                                  <input mdbValidate  mdbInput type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword" required placeholder="Confirm Password"/>
                                  
                                  <mdb-error *ngIf="userPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)"
                                    >Confirm Password is required</mdb-error
                                  >
                                  <mdb-success *ngIf="confirmPassword?.valid && (confirmPassword?.dirty || confirmPassword?.touched)"
                                    >Looks good!</mdb-success
                                  >
                                </mdb-form-control>
                              <button type="submit" class="btn btn-primary mt-4" style="background-color: #00FF7F; color: black;">Submit</button>
                        </div> 
                            
                            
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
