<app-navbar></app-navbar>
<div class="pd">
    <div class="row placecenter" >
        <div class="col-md-8" >
            <div class="card" >
                <div class="card-body">
                    <div class="card-text" >
                        <h4 style="color: #00FF7F; font-weight: bold;">Product Details</h4>
                        <!-- <div *ngFor="let product of products_data" style="padding: 10px;" > -->
                            <div class="container">
                                <div class="row placecenter border border-2" style="background-color: black; padding: 10px; padding-bottom: 20px;">
                                    <h5 style="color: white; ">Brand: {{Brand}}</h5>
                                    <h5 style="color: white; padding-bottom: 10px;">Product Name: {{Product_Name}}</h5>
                                  <div class="col-md">
                                    <img src="{{Image_URL}}" height="200" width="200" >
                                  </div>
                                  <div class="col-md">
                                    <h5 style="color: white; padding-bottom: 10px;">
                                      <a href="https://www.google.com/"><u>Price on Amazon</u></a></h5>
                                      <!-- {{Amazon_URL}} -->
                                    <h5 style="color: white; padding-bottom: 10px;">{{Ebay_URL}}</h5>
                                    <!-- <button (click)="gotoCompareProducts(product)" type="button" class="btn btn-primary" style="background-color: #00FF7F; color: black;  font-family: 'Century Gothic'; font-weight: bold; align-content: center;" >Compare</button> -->
                                  </div>
                                </div>
                              </div>
                    <!-- </div> -->
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>