<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cdbootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cdbootstrap/css/cdb.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/cdbootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cdbootstrap/js/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cdbootstrap/js/cdb.min.js"></script>
    <title>Beyond Price</title>
</head>
<body> 

  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style=" background-color: rgba(0, 0, 1, 0.8)">
      <a class="navbar-brand" href="./home.html"><img src="../images/logo-green-logo.png" height="100" width="150" ></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="./home.html">
              <i class="fas fa-feather"></i>
              <h5 style="color: #00FF7F; font-weight: bold; ">Home</h5>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="./about.html">
              <i class="fa fa-dollar"></i>
              <h5 style="color:#00FF7F; font-weight: bold;">About</h5> 
            </a>
          </li>
        </ul>
  
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="./login.html">
              <i class="fa fa-globe"></i>
              <h5 style="color:#00FF7F; font-weight: bold;">Login</h5>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

      
        <div style=" padding-top: 200px; padding-bottom: 200px;">
        <div class="grid-container">

          <div class="grid-child" style="height: 500px; background-color: rgba(0, 0, 1, 0.8); align-content: center;">
            <center style="padding: 80px;">
              Set the
            <div>
              <h5 style="color: yellow; "><b>Set  &emsp; The</b> &emsp; <b class="animated flash infinite" style="font-family: 'Brush Script MT'; color: yellow; font-size: 50px;">Fashion</b></h5>
            </div>
            <div>
              <h5 style="color: #00FF7F; "><b>Be  &emsp; The</b> &emsp; <b class="animated flash infinite" style="font-family: 'Brush Script MT'; color: #00FF7F; font-size: 50px;">Brand</b></h5>
            </div>
            <div>
              <h5 style="color: hotpink; "><b>Show  &emsp; The</b> &emsp; <b class="animated flash infinite" style="font-family: 'Brush Script MT'; color: hotpink; font-size: 50px;">Style</Style></Style></b></h5>
            </div>
          </center>
          </div>
      
          <div class="grid-child" style="height: 500px; background-color: rgba(0, 0, 1, 0.8)">
            <center>
              <br>
              <h4 style="color: #00FF7F; font-weight: bold;">Welcome to Beyond Price Website</h4>
              <br>
              <h5 style="color: #ffffff; padding-left: 10px; padding-right: 10px;">A place for <b style="color: yellow;font-size: larger;">Fashion</b>, <b style="color: #00FF7F; font-size: larger;">Brand</b> and <b style="color:hotpink;font-size: larger;">Style</b>
              <br><br>
              Compare the prices in one click and get your products for the lowest price. 
              <br><br>
              <b style="color:ghostwhite;">What are you waiting for! <br>Click Sign In</b>
              <br><br>
              <button type="submit" class="btn btn-primary" style="background-color: 00FF7F; color: black;  font-family: 'Century Gothic'; font-weight: bold; align-content: center;">Sign In</button>
              <br><br>
              <b style="color:ghostwhite;">New to Pay Less? <br> Then Sing up!</b>
              <br><br>
              <button type="submit" class="btn btn-primary" style="background-color: 00FF7F; color: black;  font-family: 'Century Gothic'; font-weight: bold; align-content: center;" onclick="window.location.href='./signup.html'">Sign Up</button>
              <br><br>
            </h5>
              <br>
            </center>
          </div>
          <div class="grid-child" style="height: 500px; background-color: rgba(0, 0, 1, 0.8)">
            <center style="padding: 50px;">
            <div class="animated bounce infinite">
              <img src="../images/bigdeal.png" alt="" style="width: 300px;height:300px;" />
            </div>
          </center>
          </div>


        </div>
      </div>
        <footer >
        <div class="bottom-container">
          <center>
          <a class="footer-link" style="color:#FFFFFF;" href="">LinkedIn<emsp></a>
          <a class="footer-link" style="color:#FFFFFF;" href="">Instagram<emsp></a>
          <a class="footer-link" style="color:#FFFFFF;" href="">Twitter<emsp></a>
          <a class="footer-link" style="color:#FFFFFF;" href="">Website</a>
        </center>
          <br>
          <br>
          <br>
        </div>
      </footer>
      
     
      

      

</body>
</html>