<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Registration</title>
</head>
<body> 
    <style>
        body {
          background-image: url('../images/shopping-mall.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
        </style>
    <div class="con" style="background-color: #000000; opacity: 0.7;">
        <!-- Nav Bar before updation color was e4f9f5      navbar-light        navbar navbar-expand-lg -->
        <nav class="navbar navbar navbar-expand-lg " >
          <a class="navbar-brand" href="#"><img src="../images/logo-yellow.png" height="100" width="100"></a>
  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html" ><h5 style="color: yellow;">Home</h5> <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="https://www.nba.com/" ><h5 style="color:yellow;">About</h5> <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="team.html" ><h5 style="color:yellow;">Contact Us</h5></a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="team.html" ><h5 style="color:yellow;">Login</h5></a>
              </li>
            </ul>
          </div>
          <br><br>
        </nav>
      </div>
        <div class="center" style="height: 500px; width: 800px; background-color: #000000; opacity: 0.9; ">
          <center>
            <br>
            <h4 style="color: white;">Pay Less Signup Registration</h4>
            <br>
            <form style=" height: 80%; width: 80%; opacity: 0.9 ; ">
              <div class="col">
                <div class="row">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="First name">
                  </div>
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Last name">
                  </div>
                </div>
                <br>
                <input type="text" class="form-control" placeholder="Email">
                <br>
                <input type="text" class="form-control" placeholder="Phone Number">
                <br>
                <input type="text" class="form-control" placeholder="Password">
                <br>
                <input type="text" class="form-control" placeholder="Confirm Password">
                <br>
                <button type="submit" class="btn btn-primary" style="background-color: yellow; color: black;"><b>Submit</b></button>
              </div>
            </form>
          </center>
        </div>
        </div>
      
</body>
</html>