.center
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 3px;
}


body {
        background-image: url('../images/shopping-mall.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        backdrop-filter: blur(4px);
        
    }

form,h4,h6,h5{
    font-family: 'Century Gothic';
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-left: 50px;
  padding-right: 50px;
}