<!DOCTYPE html>
<html>
  <head>
    <title>Signup</title>
  </head>
  <body>
    <h1>Signup Form</h1>
    <form action="/signup1" method="post">
      <label for="firstname">firstname:</label>
      <input type="text" id="firstname" name="firstname"><br><br>
      <label for="lastname">lastname:</label>
      <input type="text" id="lastname" name="lastname"><br><br>
      <label for="email">email:</label>
      <input type="text" id="email" name="email"><br><br>
      <label for="phone">phone:</label>
      <input type="text" id="phone" name="phone"><br><br>
      <label for="password">password:</label>
      <input type="text" id="password" name="password"><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
